body {
    background-color:transparent;
  }
  .footer1{
    background-color:rgb(199, 198, 198);
    color: honeydew;
    text-align: center;
  }
.Name{
    background-color: lightseagreen;
    color: honeydew;
    text-align: center;
    font-size: x-large;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  }
  .card{
    background-color: whitesmoke;
    text-align: justify;
  }
  .about{
    color: lightseagreen;
  }
  .gentext{
      color: gray;
  }
  .bottomsend{
    background-color: lightseagreen;
  }
  .img {
    float: left;
    clear: left;
  }
  .mrgP {
    margin: 20px 40px auto;
  }

  html {
    margin: 40px auto;
    text-align: center;
  }
    .btn-linkedin {
      background: lightseagreen;
      border-radius: 10px;
      color: #fff;
      border-width: 1px;
      border-style: solid;
      border-color: #084461;
      margin: 40px 20px auto;
    }
    .btn-linkedin:link, .btn-linkedin:visited {
      color: #fff;
    }
    .btn-linkedin:active, .btn-linkedin:hover {
      background: #0E76A8;
      color: #fff;
    }
    p { margin-left:5em; /* Or another measurement unit, like px */ }